<div class="section-txt">
    <p class="dev">
        Development <span class="space"></span>
    </p>
    <a href="https://twitter.com/SHOTCUTISl3EST" target="_blank">@SHOTCUTISl3EST</a>
    <p class="des">
        & Design <span class="space"></span>
    </p>
    <a href="https://twitter.com/zzappung" target="_blank">@zzappung</a>
</div>