<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' href='css/style.css'>
</head>
<body>
    <section>
        <div class="wrap">
            <div class="link">
                <a href="https://twitter.com/NJSLYR" target='_blank'>@NJSLYR</a>
            </div>
            <div id="bbsdiv">
                <!-- bbs-header -->
                <%- include('./header.ejs') %>
                
                <!-- bbs-write -->
                <div>
                    <%- include('./write.ejs') %>
                </div>

                <!-- bbs -->
                <div>
                    <%- include('./detail.ejs') %>
                </div>
            </div>
        </div>
        <p>Development @SHOTCUTISl3EST & Design @zzappung</p>
    </section>
</body>


</html>

<script>
    function onoff() {
        let edit = document.getElementsByClassName('edit');
        // btn 숨기기 (display: none)
        for ( var x = 0; x < edit.length; x++ ){
            if(edit[x].style.display == 'none') {
                edit[x].style.display = 'block';
            }
            // btn 보이기 (display: block)
            else {
                edit[x].style.display = 'none';
            }
        }
    }

</script>
