<section class="py-5">
    <h3 align="center">인기 상품</h3>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <c:forEach var="best" items="${bestmarketlist}" varStatus="i" begin="0" end="3">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="./marketimage/${best.newmainpt}" alt="..." onclick="location.href='marketdetail.do?seq=${best.seq}'"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" onclick="location.href='marketdetail.do?seq=${best.seq}'">${best.title}</h5>
                                <!-- Product price-->
                                <fmt:formatNumber value="${best.price}" pattern="#,###,###"/>원<br>
                                <a style="font-size: 12px; color: gray;">${best.subtitle}</a>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <!-- 이 부분부터 Modal창 코드 -->


                         <button type="button" class="btntt">장바구니 담기</button>
					  	 <div class="modal">
					     <div class="modal__overlay">
					     <div class="modal__content">
					     <div>${best.title}</div>
					     <div><fmt:formatNumber value="${best.price}" pattern="#,###,###"/>원</div>
					     <button type="button" class="close">닫기</button>
    					 </div>
    					 </div>
 			 			 </div>
                         <!-- 여기까지 -->
                         </div>
                        </div>
                    </div>
                    </c:forEach>
                </div>
            </div>
        </section>