<div class="top">
    <div class="link">
        <a href="https://twitter.com/NJSLYR" target='_blank'>@NJSLYR</a>
    </div>
    <div class="bgm">
        <audio id="myAudio" src="/home/hosting_users/cpa9090/apps/cpa9090_njslyr2023/public/audio/bgm.mp3" preload="auto"></audio>
        <button onclick="togglePlay()"><span class="hidden">play sound1</span></button>
    </div>
</div>

<script>
    var myAudio = document.getElementById("myAudio");
    var isPlaying = false;

    function togglePlay() {isPlaying ? myAudio.pause() : myAudio.play();};

    myAudio.onplaying = function() {isPlaying = true;};
    myAudio.onpause = function() {isPlaying = false;};
</script>