<div class="bbs-write_wrap">
    <form action="/write" method="post">
        <table class="bbs">
            <tr class="bbs-write">
                <td class="bbs-write_name"><input id="bbs-write_field" class="nickname" name="writer"  type="text" placeholder="#NAME"  required/></td>
                <td><input id="bbs-write_field" name="password" type="password" placeholder="PASSWORD" required/></td>
            </tr>
            <tr>
                <td colspan="2" class="article">
                    <div class="text_box">
                        <textarea class="bbs-txt_field" name="article" rows="8" cols="42" placeholder="TEXT HERE" required></textarea>
                        <div class="count"><span>0</span>/360</div>
                    </div>
                </td>
            </tr>
            <tr>                
                <td colspan="2"><button class="bbs-write_send" type="submit">SEND</button></td>
            </tr>
        </table>
    </form>
</div>


<script>
$('.nickname').keyup(function(){
    var content = $(this).val();
    $('.nickname').html(content.length);
    if (content.length > 12){
        $(this).val(content.substring(0, 12));
    }
});

$('.text_box textarea').keyup(function(){
    var content = $(this).val();
    $('.text_box .count span').html(content.length);
    if (content.length > 360){
        $(this).val(content.substring(0, 360));
        $('.text_box .count span').html(360);
    }
});
</script>